<a href="https://colab.research.google.com/github/Nikita1013/Machine-Learning-with-Python/blob/master/2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Languages used for Machine Learning:
1. Python
2. R

#print function

In [2]:
print('Machine Learning')

Machine Learning

In [3]:
print('Machine Learning' + ' Projects')

Machine Learning Projects

In [5]:
print(10)

10

In [6]:
print(10+13)

23

#Basic Data Types:
1. int
2. float
3. str

In [7]:
type(10)

int

In [8]:
type('jimin')

str

In [10]:
type(12.9)

float

#Constants & Variables

In [13]:
kpop_band = "BTS KPOP"
print(kpop_band)

BTS KPOP

In [14]:
bts_member_1 = "Kim Namjoon"
print(bts_member_1)

Kim Namjoon

In [16]:
member_2, member_3, member_4 = "Kim Seokjin", "Min Yoongi", "Jung Heoseok"
print(bts_member_2)
print(bts_member_3)
print(bts_member_4)

Kim Seokjin
Min Yoongi
Jung Heoseok

In [19]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

#Input Function

In [23]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))

sum = num1 + num2
print(sum)

Enter the first number : 10
Enter the second number : 13
23

In [28]:
# Changing the  data type in Python
num =5
print(float(num))

5.0