<a href="https://colab.research.google.com/github/Nikita1013/Machine-Learning-with-Python/blob/master/3_List_Tuples_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects



Immutable Objects:
1. int
2. float
3. string
4. bool
5. tuple (allows duplicate value)


Mutable Objects
1. List (allows duplicate value)
2. Set (does not allow  duplicate value)
3. Dictionary (does not allow duplicate value)

List

In [ ]:
# list should be  enclosed in the square brackets (Arrays in C programming)
myList = [1,2,3,4,5]
print(myList)
type(myList)

[1, 2, 3, 4, 5]

list

In [ ]:
# List can store multiple data types
# set does not  allow multiple data types
my_list = [2,3,1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

List are mutable (they can be changed once they are created ) --> Changeable

In [ ]:
# add elements to a list
my_list = [2,3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [2]:
# list allows duplicate values
list1 = [1,2,3,4,5,1,2,3]
print(list1)

[1, 2, 3, 4, 5, 1, 2, 3]

In [3]:
print(len(list1))

8

In [4]:
# initiating an empty list
list2 = []
print(list2)

[]

In [5]:
list2.append(5)
print(list2)

[5]

In [7]:
# delete an item in a list
list2 = [2, 3, 1.8, 'English', True, 6]
print(list2)

del list2[2]
print(list2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [9]:
# join two lists
list3 = [1,2,3,4,5]
list4 = [6,7,8,9,10]

list5 = list3 + list4
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [10]:
# Tuple are immutable once created cannot be changed
tuple1 = (2,3,4,5)
print(tuple1)
type(tuple1)

(2, 3, 4, 5)

tuple

In [11]:
# tuple allows multiple data types
tuple2 = (1,2,3.5,"Machine Learning", True)
print(tuple2)

(1, 2, 3.5, 'Machine Learning', True)

In [12]:
# Converting a list to a tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [13]:
# converting tuple to list
my_tuple = (1,2,3,4,5)
print(my_tuple)

my_list = list(my_tuple)
print(my_list)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [14]:
print(my_tuple[0])
print(my_tuple[1])

1
2

Tuples are immutable --> Unchangeable

In [15]:
my_tuple.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
print(len(my_tuple))

5

Set

In [20]:
# set --> curly Brackets
# Set does not support indexing
my_set = {1,2,3,4}
print(my_set)
type(my_set)
print(len(my_set))

{1, 2, 3, 4}
4

In [21]:
# Convert a list to set
list5 = [4,5,6,7,8]
print(list5)

x = set(list5)
print(x)

[4, 5, 6, 7, 8]
{4, 5, 6, 7, 8}

In [22]:
# Convert a set to list
set1 = {2,4,6,8}
print(set1)

x = list(set1)
print(x)

{8, 2, 4, 6}
[8, 2, 4, 6]

In [23]:
#Convert a tuple to set
tuple1 = (1,2,3,4,5)
print(tuple1)

x = set(tuple1)
print(x)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [25]:
# Convert a set to tuple
set1 = {6,7,8,9,10}
print(set1)

x = tuple(set1)
print(x)

{6, 7, 8, 9, 10}
(6, 7, 8, 9, 10)

In [26]:
# Set does not allow duplicate values
set3 = {1,2,3,4,5,2,2,3,4,1}
print(set3)

{1, 2, 3, 4, 5}

Dictionary

Key-Value Pair

In [29]:
my_dict = {'name': 'David', 'age': 30, 'country':'India'}
print(my_dict)
type(my_dict)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [30]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

David
30
India

In [ ]:
# Dictinary does not allor Duplicate Values