<a href="https://colab.research.google.com/github/Nikita1013/Machine-Learning-with-Python/blob/master/Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [2]:
laptop1 = int(input("Enter the price of the laptop"))
laptop2 = int(input("Enter the price of the laptop"))
laptop3 = int(input("Enter the price of the laptop"))
laptop4 = int(input("Enter the price of the laptop"))
laptop5 = int(input("Enter the price of the laptop"))

Enter the price of the laptop20000
Enter the price of the laptop30000
Enter the price of the laptop40000
Enter the price of the laptop50000
Enter the price of the laptop60000

In [3]:
for i in range(5):   # index : 0,1,2,3,4
  laptop_price = int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000

In [6]:
for i in range(5):
  i += 1
  print(i)

1
2
3
4
5

In [8]:
numbers = [50,100,150,200]

for i in numbers:
  print(i)

50
100
150
200

While Loop

  while condition:
      
      
      statement

In [11]:
# if the condition is true then only the while loop is carried out
i = 0

while i<10:
  print(i)
  i += 1 # i = i + 1

0
1
2
3
4
5
6
7
8
9

In [13]:
# if the condition is false then it wont proceed further
i = 5
while i<3:
  print(i)
  i += 1