<a href="https://colab.research.google.com/github/Nikita1013/Machine-Learning-with-Python/blob/master/OperatorsinPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python
  1. Arithmetic Operators
  2. Assignment Operators
  3. Comparison Operators
  4. Logical Operators
  5. Identify Operators
  6. Membership Operators

1. Arithmetic Operators

In [2]:
num1 = 20
num2 = 10

# Addition +
sum =  num1 + num2
print("Sum = ", sum)


#Subtraction -
diff = num1 - num2
print("Difference = ", diff)

# Multiplication *
mul =  num1 * num2
print("Multiplication = ", mul)

# division /
div = num1 / num2
print("Division = ", div)

# exponent **
expo = num1 ** num2
print("Exponent = ", expo)

# modulus %
mod = num1 % num2
print("Remainder = ", mod)

Sum =  30
Difference =  10
Multiplication =  200
Division =  2.0
Exponent =  10240000000000
0

2. Assignment Operators

  1. +=
  2. -=
  3. *=
  4. /=
  5. **=
  6. %=

In [3]:
a = 5
print(a)

5

In [7]:
a = 6
a += 5 # a = a + 5
print(a)

11

In [8]:
b = 5
b -= 2
print(b)

3

3. Comparison Operators

In [13]:
a = 5
b = 10

print(a == b)   #equal to
print(a !=b)   #not equal to
print(a > b)  #greater than
print(a < b)  #less than
print(a <= b)  # greater than or equal to
print(a >= b)  #less than or equal to

False
True
False
True
True
False

4. Logical Operators

  1. and
  2. or
  3. not

In [14]:
a = 10

print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

5. Identity Operators
  1. is
  2. is not

In [15]:
x = 5
y = 10

print(x is y)

False

In [16]:
x = 5
y = 10

print(x is not y)

True

6. Membersip Operator
  1. in
  2. not in

In [17]:
a = 5
b = 10

c = [1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [18]:
a = 5
b = 10

c = [1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True